@charset "utf-8";

@font-face {
    font-family: 'HDVPoster';
    src: url(../Fontes/HVD\ Poster.ttf) format('truetype');
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1: #f0b52b;
    --cor2: #3752a5;
    --font1: 'HDVPoster';
}

main{
    padding: 0px;
    margin: 0px;
}


#sec1{
    width: 100%;
    background-color: var(--cor1);
    margin: auto;
}

#sec1 > article {
    width: 50%;
    display: inline;
}

#back{

    font-family: var(--font1), sans-serif;
    font-size: 10em;
    position: absolute;
    transform: translate(20%, 32%);
}
#to{
    font-family: var(--font1), sans-serif;
    font-size: 3em;
    color: rgba(255, 0, 0);
    position: absolute;
    transform: translate(455%, 361%);

}
#school{
    font-family: var(--font1), sans-serif;
    font-size: 10em;
    position: absolute;
    transform: translate(22%, 113%);
}

#back_to_school{
    font-size: 1.2em;
    position: absolute;
    transform: translate(17%, 418%);
    text-align: justify;
    text-align: center;
    position: relative;
}

#sec1 #imagem{
    margin: auto;
    padding: 10px;
}