@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    max-width: 950px;
    min-width: 500px;
    min-height: 94vh;
    margin: 15px auto;
    padding: 20px;
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    background-color: rgba(241, 241, 241, 0.719);
}

main #cabecario{
    font-size: 1.6em;
    text-align: center;
    padding: 6px;
    margin-bottom: 15px;
    padding-bottom: 8px;
    color: rgb(13, 126, 64);
}

main #cabecario h1{
    text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.356);
}

main #corpo{
    padding: 5px;
    font-size: 1.6em;
    width: 100%;
}

main #corpo input{
    font-size: 0.6em;
    width: 18em;
    text-align: center;
}

main #corpo p, main #corpo input {
    line-height: 1.8em;
}

main #corpo button{
    display: block;
    width: 12em;
    height: 2em;
    margin: auto;
    margin-top: 5px;
}

main #tabela {

    margin: auto;
    padding: 10px 15px; 
    text-align: center;
}

main #tabela #resultado{
    margin: auto;
    padding: 5px;
}
main #tabela p{
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.4em;
}

main #tabela #resultado table{
   border-collapse: collapse; 
   border: 1px solid black;
   text-align: center;
   vertical-align: middle;
   margin: auto;
}

main #tabela #resultado table thead td{
    text-transform: uppercase;
    font-weight: bold;
}

main #tabela #resultado table td{
    border: 1px solid black;
    padding: 5px;
    font-family: 'Hind Madurai', sans-serif;
    font-size: 1.3em;
}



















